[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "build/bin/external/imgui"]
	path = build/bin/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
